@media print {
  /* Esconder todos os elementos da página */
  body * {
    visibility: hidden;
  }

  /* Mostrar apenas o conteúdo desejado */
  .printable, .printable * {
    visibility: visible;
  }

  /* Garantir que o conteúdo será impresso corretamente na posição certa */
  .printable {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.cluster0-chart-2 {
    grid-column: 1 / span 2;
}
.cluster0-chart-3 {
  grid-column: 1 / span 2;
}
.cluster1-chart-2 {
  grid-column: 1 / span 2;
}
.cluster1-chart-3 {
grid-column: 1 / span 2;
}
.cluster2-chart-2 {
grid-column: 1 / span 2;
}
.cluster2-chart-3 {
grid-column: 1 / span 2;
}
.cluster3-chart-2 {
grid-column: 1 / span 2;
}
.cluster3-chart-3 {
grid-column: 1 / span 2;
}
.cluster4-chart-2 {
grid-column: 1 / span 2;
}
.cluster4-chart-3 {
grid-column: 1 / span 2;
}
.cluster5-chart-2 {
grid-column: 1 / span 2;
}
.cluster5-chart-3 {
grid-column: 1 / span 2;
}